<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/app.css" />
    <script type="text/javascript" src="http://yastatic.net/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://yastatic.net/angularjs/1.3.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.min.js"></script>
    <!--Social libs loading-->
    <script type="text/javascript" src="https://cdns-files.deezer.com/js/min/dz.js"></script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js"></script>

    <script type="text/javascript" src="scripts/services/Options.js"></script>

    <!--VKTracksTable scripts-->
    <script type="text/javascript" src="scripts/controllers/VKTracksTableCtrl.js"></script>
    <script type="text/javascript" src="scripts/directives/VKTracksTableDir.js"></script>
    <script type="text/javascript" src="scripts/services/VKService.js"></script>

    <!--DZTracksTable scripts-->
    <script type="text/javascript" src="scripts/controllers/DZTracksTableCtrl.js"></script>
    <script type="text/javascript" src="scripts/directives/DZTracksTableDir.js"></script>
    <script type="text/javascript" src="scripts/services/DZService.js"></script>

    <script type="text/javascript" src="scripts/app.js"></script>
    <title>AudioTransfer</title>
</head>
<body ng-app="audio_transfer">
    <div class="navbar-container">
        <div class="logo">
            <a href="#">AudioTransfer</a>
        </div>
        <div class="login-bar" ng-controller="AuthCtrl">
            <ul>
                <li>
                    <i class="fa fa-vk fa-lg fa-fw fa-border" ng-click="VKAuthClick()"></i>
                </li>
                <li>
                    <a class="login-bar-btn" href="#" ng-click="DZAuthClick()">DZ</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-container" ng-controller="SwitchCtrl">
        <div ng-hide="isAuthorized">
            <h3>To start please login.</h3>
        </div>
        <div ng-show="isAuthorized">
            <vk-tracks></vk-tracks>
            <dz-tracks></dz-tracks>
        </div>
    </div>
    <div class="footer-container">
        <div class="copyright">
            Garmashov Konstantin<i class="fa fa-copyright fa-lg fa-fw"></i>2015
        </div>
    </div>
    <div id="dz-root"></div>
    <script type="text/javascript">
        VK.init({
            apiId: 4703399
        });
        DZ.init({
            appId: 149671,
            channelUrl: "http://audiotransfer.azurewebsites.net/index.html"
        });
    </script>
</body>
</html>